@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
}

body {
    background-image: url(img/2.jpg);
    background-size: cover;
    position: relative; 
    background-attachment: fixed;
}

/* Шапка */

.h1 {
    width: 100vw;
    height: 120px;
    background-color:#131313;
    color:white;
}

.h1 a {
    font-size:40px;
    display: inline-block;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 6%;
    font-family: 'Roboto Slab', serif;
    text-decoration:none;
    color:white;
    transition: 0.3s;
    text-align: center;
}

.h1 img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 1.5%;
    transition: 0.3s;
}
.hd {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1.5%;
}

.nav img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.nav button:hover {
    opacity: .7;
}

/* Меню */

.menu {
    height: 500px;
    background-image: url(img/4.jpg);
    margin: 0 5%;
    color:white;
    padding: 10px;
}
.menu h2 {
    font-size: 45px;
    text-align: center;
}

.menu a {
    font-size: 35px;
    text-decoration:none;
    color:white;
    opacity: 1;
    transition: 0.3s;
}
.str{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content:space-around;
    font-size: 30px;
}
.str a {
    margin: 30px;
}

/* Введение*/

.vedenie {
    height: 500px;
    background-image: url(img/4.jpg);
    margin: 0 5%;
    font-size: 27px;
}

.vedenie p{
    margin: 0px 13%;
    color:white;
    font-size:25px;
    padding-top: 90px;
}

.img{
    display: flex;
    flex-wrap: wrap; 
    margin: 0 5%;
    padding: 0 5%;
    align-content: center;
    background-image: url(img/4.jpg);
    height: 100%;
    align-content: stretch;
    padding-bottom: 5%;
}

.img img{
    width: 50%;
    height: 100%;
}

.img img {
    transform: translateX(37%);
}

.bx-wrapper {
    width: 90%;
    background-image:url(img/4.jpg) ;
    margin: auto;
    height: 100%;
}

/* Подвал */

footer {
    height: 160px;
    background-image: url(img/4.jpg);
    color:white;    
    margin: 0 5%;
}
footer p {
    padding: 2%;
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Анимации */

.menu a:hover {
    opacity: 0.6;
}

.hover:hover {
    scale: 1.2;
}

header a:hover {
    opacity: 0.6;
}

/* Адаптивная верстка */
@media screen and (max-width:1350px){
    .h1{
        height: 110px;
    }
    .h1 a {
        font-size:33px;
    }
    .h1 img {
        width: 60px;
        height: 60px;
    }
    .vedenie p {
        font-size: 22px;    
    }
    .menu h2 {
        font-size: 40px;
    }
    .menu a {
        font-size: 30px;
    }
    .vedenie p {
        font-size: 22px;    
    }
    .nav a {
        font-size: 17px;
        margin-top: 4px;
    }
    .img img {
        transform: translateX(25%);
    }
    .img img{
        width: 60%;
        height: 100%;
    }
}
@media screen and (max-width:1130px){
    .h1{
        height: 100px;
    }
    .h1 a {
        font-size:26px;
        margin-top: 4%;
    }
    .h1 img {
        width: 50px;
        height: 50px;
        margin-top: 3.5%;
    }
    .vedenie p {
        font-size: 19px;    
    }
    .menu h2 {
        font-size: 35px;
    }
    .menu a {
        font-size: 25px;
    }
    body {
        background-image:none;
    }
    .menu, .vedenie, .img {
        margin:0;
    }
    footer {
        margin: 0;
        height: 140px;
    }
    footer img {
        width: 50px;
        height: 50px;
    }
    .nav a {
        font-size: 13px;
        margin-top: 7px;
    }
    .bx-wrapper {
        width: 100%;
    }
    .img img {
        transform: translateX(35%);
    }
    .img img{
        width: 60%;
        height: 100%;
    }
}
